@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    
}
body{
    background-image: linear-gradient(to right,#FFE2C3,#E8D4C6);
}
    main{
        background-color: white;
        border-radius: 10px;
        box-shadow: 5px 5px 15px #6e635b;
        width: 600px;
        padding: 10px;
        margin: auto;
    }
    h1{
        color: #f39209;
        text-align: center;
        text-shadow: 1px 1px 2px #945803c2 ;
    }
    h2 {
        color: #125189;
    }

p {
    text-align: justify;
}